*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    overflow-y: auto;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

.griglia{
    margin-left: 90px;
    margin-right: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
   

}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: calc(100% / 7 );
}

.img {
    width: 100%;
    
    display: block;
    position: relative;

}

.box-img {
    position: relative;
    top: 0;
    padding: 4px;
    width: 220px;

}
header{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.user-mic{
      background-color: rgba(154, 154, 154, 0.5);
    width: 30%;
    position: absolute;
    left: 2;
    bottom: 8px;
    text-align: start;
    color: black;
    cursor: pointer;
    font-size: 0.5rem;
    margin-right: 80%;
}
.buttom{
    background-color: rgb(183, 183, 183);
    color: white;
    padding: 5px;
   
}

footer{
    background-color: #393939;
    height: 3vw;
    width: 100%;

    bottom: 0;
    position: fixed;
}
.tools{
    color:white;
    display: flex;
    justify-content: space-between;
}
i{
    width: 20px;
    justify-content: center;
}
.flex-icon{
    display: flex;
    flex-direction: row wrap;
    text-align: end;
}
.mic{
  width: 20vw;
  position: relative;
}
.comtainer{
    padding: 10px;
    text-align: center;
}
.chiudi{
 background-color: red;
    padding: 10px;
    border-radius: 30%;
    margin-top: 5px;
    margin-right: 10px;
}
.share{
    color: green;
}