*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
}

.griglia{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: calc(100% / 7 );
}

.img {
    width: 100%;
    border: 1px solid black;
    display: block;
}

.box-img {
    position: relative;
    top: 0;
    border: 1px solid black;
    padding: 1px;
    width: 220px;

}
header{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.buttom{
    background-color: rgb(183, 183, 183);
    color: white;
    padding: 5px;
   
}